.addTodoCont {
    position: relative;
    top: 50px;
    text-align: center;
}

.alert{
    text-shadow: 0 0 5px white;
    background: rgba(255,255,255,0.8);
    padding-bottom: 15px;
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    font-family: sans-serif;
    border-radius: 10px;
}

.valid{
    color: rgb(0, 150, 0);
}

.err{
    color: rgb(255, 0, 0);
}

.submit{
    cursor: pointer;
    border: 3px outset darkslategray;
    border-radius: 5px;
    background: #ff8c00;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    outline: none;
}

.submit:hover{
    border: 3px inset darkslategray;
    background:rgb(255, 103, 0)
}
.submit:active{
    background: rgb(255, 80, -62);
}

.input{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-family: cursive;
}

.select{
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    border-radius: 19px/44px;
    outline: none;
    border: 2px solid black;
}