<div class="addTodoCont">
  <form [formGroup]="addTodoForm" style="font-weight:bold;">
      <label>Assign task: <input class="input" type="text" formControlName="description" (input)="this.submitted = false"></label>
      <label> To: <select class="select" formControlName="chosenSubject">
    <option *ngFor="let subject of allSubjects" [value]="subject._id">{{subject.name}}</option>
  </select></label>
</form>
<div class="alert" *ngIf="submitted && checkErr"> 
  <span *ngIf="checkErr.required"><br/>Please assign a task first...</span>
  <span *ngIf="checkErr.minlength"><br/>Task must consist of minimum six characters...</span>
</div>
<div class="redirect" *ngIf="redirecting"><br/>Redirecting...</div>
<br/>
<button class="submit" (click)="addTodo()">Submit</button>
</div>